<h1><%="#{@pirate.name} Height: #{@pirate.height} Weight: #{@pirate.weight}" %></h1>

<% @ships.each do |ship| %>
  <div class="ship">
    
  </div>
<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
